table {
  border:1px solid black;
  background-color:#ffdab9;
  margin: auto;
  box-shadow: 5px 10px;
}

table.plane {
  border:none;
  box-shadow:none;
}

td {
  border:1px solid black;
  border-collapse:collapse;
  text-align: center;
}

h1 {
  color:red;
  font-size: 50px;
  text-shadow: 2px 2px black;
  text-align: center;
} 
button {
  color:red;
  font-size: 30px;
}

input {
  font: 25px "Helvetica", "Arial", "sans-serif";
}